/*-------------------- Body style start here ------------------*/
body {
    font-family: 'PT Sans', sans-serif;
    margin: none;
}

.top_first {
    margin-top: 10px;
    margin-bottom: 100px;
}

.top_first-section {
    display: flex;
}

.first-section {
    padding: 5%;
    width: 50%;
}

.first-section h1 {
    color: grey;
    font-size: 65px;
    font-weight: 700;
}

.first-section p {
    color: gray;
    font-size: 25px;
    font-weight: 500;
}

.span-color {
    color: orange;
}

.btn-a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 25px;
    text-align: center;
    border: none;

}